* {
    margin: 5px
}

.loginBlock {
    margin: 40vh 0 25vh 25vh;
    font-family: "Roboto Thin";
    border: black 1px solid;
}

.fixed-container {
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
}