main {
    min-height: 750px;
    max-width: 1400px;
    background-color: coral;
    border: 1px solid maroon;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.buttons-div {
    margin: 10px;
}

.ul-align {
    width: 100%;
}

.book-div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-div-in-form {
    width: 100%;
}

.book-div ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    list-style-type: none;
    padding: 15px;
    border-radius: 10px;
    background-color: cornsilk;
}

.book-div p {
    text-align: justify;
}

.book-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.main-div {
    width: 100%;
    margin: 0 auto 0;
}

.main-update-delete {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}