main {
    min-height: 750px;
    max-width: 1400px;
    background-color: coral;
    border: 1px solid maroon;
    border-radius: 15px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.buttons-div {
    margin: 10px;
}

.book-div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.book-div img li {
    align-self: center;
}

.book-image {
    width: 150px; /* Adjust width */
    height: 200px; /* Adjust height */
    object-fit: cover; /* This will make sure the image covers the defined area without distortion */
    align-self: center;
}